body{
    margin: 0;
    font-family: Roboto, Arial, Tahoma;
}
nav{
    background-color:#0c4ca3;
    padding:10px; /*khoảng cách bên trong*/
}
ul{
    display: flex; /*sắp xếp các phần tử con theo hàng ngang*/
    justify-content: center; /*căn giữa các phần tử con theo chiều dọc*/
    gap:20px; /*khoảng cách giữa các phần tử con*/
    list-style-type: square; 
}
li{
    padding: 15px;
}
.border{
    border-right: 1px solid grey;
}
.danhmuc-lienket{
    color:white;
    text-decoration: none; /*xóa gạch chân*/
    font-family: Roboto, Arial, Tahoma;
}
.banner-qc{
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}
.qc{
    display: flex;
    justify-content: space-between;
}
header{
    border-bottom: 10px solid #f1f1f2;
}
.modau{
    display: flex;
    justify-content: space-between;
}
.tintuc{
    justify-content: center; 
}
.demuc{
    color:#0c4ca3;
    font-family: Roboto, Arial, Tahoma;
    padding-bottom: 10px; /*khoảng cách cái chữ với cái kẻ*/
    border-bottom: 4px solid #0c4ca3; /*set màu độ rộng với kiểu nét*/
    display: inline-block; /*để border ngắn bằng chữ*/
    margin: 0;
}
.phude{
    text-align: right;
    padding-bottom: 1px;
    margin: 0;
}
.phude a{
    text-decoration: none;
    color:rgb(131, 130, 130);
}
.gach{
    border-bottom: 1px solid gray;
    margin: 0;
}
.new{
    display: flex;
    justify-content: center;
}
.ndtintuc{
    padding: 15px;
    border-radius: 8px;
    text-align: left;
}
.tintuc1 img{
    width: 100%;
    height: auto;

}
.anhqc2{
    display: flex;
    justify-content: center;
    margin: 10px 0px;
    border: 1px;
}
.thongbao{
    background-color: rgb(231, 230, 230);
}
.ket{
    display: flex;
    justify-content: space-between;
}
.bangden{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    gap: 25px;
    color: white;
}
.video{
    padding: 10px;
    border-right: 1px dotted/*mấy cái chấm*/ #f1f1f2;
}
.video h3{
    font-weight: normal;
    font-size: 22px;
    padding-left: 20px;
    border-bottom: 1px dotted #f1f1f2;
    padding-bottom: 10px;
}
.media{
    padding: 10px;
}
.media h3{
    font-weight: normal;
    font-size: 22px;
    border-bottom: 100%;
    border-bottom: 1px dotted #f1f1f2;
    padding-bottom: 10px;
}
.bangden1{
    width: 100%;
    border-bottom: 1px dotted #f1f1f2;
    border-right: none;
}
.media ul{
    flex-direction: column; /*Các phần tử theo cột*/
    gap:20px;
    list-style: none; /*bỏ dấu .*/
}
.lienket{
    color: white;
    text-decoration: none; /*xóa gạch chân*/
}
.chan1{
    display:flex;
    justify-content: space-between;
}