h1{
    background-color: darkgray;
}

h2{
    background-color: green;
}

.box1 {
    background-color: blue;
}
.box2 {
    background-color: red;
    /*1 giá trị (cách xung quanh=giá trị đó)*/
    /*2 giá trị: giá trị đầu(trên, dưới)
                 giá trị 2(trái, phải)*/
    /*4 giá trị: trên ->phải ->dưới ->trái*/
    margin: 50px 10px 100px 30px; 
    /*margin: khoảng cách xung quanh*/
    width: 50%; 
    /*width: độ dài khổi*/
    margin: 50px auto; /*auto là căn khối ra giữa*/
    padding: 100px; 
    /*khoảng cách bên trong; thêm giá trị thì tương tự margin*/
}
.box3 {
    background-color: chartreuse;
}